@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.305);
    background: #1a2238;
    color: #394568;
    font-weight: 300px;
    overflow: hidden;
}

/* moom */
.moon{
    position: absolute;
    width: 67px;
    height: 67px;
    top: 45px;
    left: 55px;
    border-radius: 50%;
    background: #f6edbd;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #f6edbd;
    animation: rise 1.5s ease-in-out;
}

@keyframes rise {
    from{
        transform: translate(-20px, 200px);
    }
    to{
        transform: translate(0, 0px);
    }
}

.crater-1, .crater-2, .crater-3{
    position: absolute;
    width: 11px;
    height: 11px;
    top: 9px;
    left: 28px;
    border-radius: 50%;
    background: #ece1a8;
}
.crater-1{
    top: 24px;
    left: 41px;
}
.crater-2{
    top: 12px;
    left: 0px;
}
.crater-3{
    top: 50px;
    left: 10px;
}

.crater-4, .crater-5, .crater-6{
    position: absolute;
    width: 8px;
    height: 8px;
    top: 9px;
    left: 28px;
    border-radius: 50%;
    background: #ece1a8;

}
.crater-4{
    top: 4px;
    left: 44px;
}

.crater-5{
    top: 35px;
    left: 28px;
}
.crater-6{
    top: 50px;
    left: 80px;
}
/* moom */

/* montain */
.montain-bg-1, .montain-bg-2, .montain-fg-1, .montain-fg-2, .montain-fg-3{
    position: absolute;
    z-index: 2;
    width: 337px;
    height: 284px;
    top: 201px;
    left: -57px;
    background: #26314f;
    border-radius: 50%;
}

.montain-bg-2{
    top: 197px;
    left: 177px;
}

.montain-fg-1, .montain-fg-2, .montain-fg-3{
    background: #303c5d;
    top: 248px;
    left: -137px;
}
.montain-fg-2{
    top: 221px;
    left: 63px;
}
.montain-fg-3{
    top: 248px;
    left: 292px;
}
/* montain */

/* info */
.front{
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 90px;
    left: 0;
    bottom: 0;
    background-color: white;
}
.temperature{
    float: left;
    margin-left: 20px;
    font-size: 45px;
    line-height: 90px;
}

.info{
    float: left;
    margin: 25px 0 0 13px;
    font-size: 15px;
    line-height: 20px;
}

.preview{
    float: right;
    font-weight: 400;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 20px 0 0;
}

.preview td{
    padding: 0 3px;
    text-transform: uppercase;
}

.preview td:first-child{
    font-weight: 300;
}
/* info */

/*rain*/

.drop-big-1, .drop-medium-1, .drop-small-1, .drop-medium-2, .drop-small-2{
    position: absolute;
    z-index: 20;
    left: 350px;
    bottom: 90px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #7fc1f9;
    animation: drop 0.9s linear 1.8s infinite;
    animation-fill-mode: both;
    transform-origin: 50% 100%;
}
.drop-big-1::before, .drop-medium-1::before, .drop-small-1::before .drop-medium-2::before, .drop-small-2::before{
    position: absolute;
    content: " ";
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: #7fc1f9;
    border-radius: 50%;

}

.drop-big-1::after, .drop-medium-1::after, .drop-small-1::after, .drop-medium-2::after, .drop-small-2::after{
    position: absolute;
    content: " ";
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: #7fc1f9;
    border-radius: 50%;

}

.drop-medium-1{
    left: 180px;
    opacity: 0.6;
    width: 6px;
    height: 6px;
    animation: drop 1.5s linear 0.24s infinite;

}
.drop-medium-1::before{
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
}

.drop-medium-1::after{
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
}

.drop-medium-2{
    left: 250px;
    opacity: 0.6;
    width: 6px;
    height: 6px;
    animation: drop 1.6s linear 0.24s infinite;

}
.drop-medium-2::before{
    top: -8px;
    left: 1px;
    width: 4px;
    height: 4px;
}

.drop-medium-2::after{
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
}


.drop-small-1{
    left: 30px;
    opacity: 0.4;
    width: 4px;
    height: 4px;
    animation: drop 2s linear 1.3s infinite;

}
.drop-small-1::before{
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
}

.drop-small-1::after{
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
}

.drop-small-2{
    left: 20px;
    opacity: 0.4;
    width: 4px;
    height: 4px;
    animation: drop 1.5s linear 1.3s infinite;

}
.drop-small-2::before{
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
}

.drop-small-2::after{
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
}





@keyframes drop{
    0% {
        transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
    }
    85% {
        transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);   
    }
    100% {
        transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
    }
}



/*rain*/